@import url("https://fonts.googleapis.com/css2?family=Poppins+SemiBold:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --desktop-body-medium-semibold: "Poppins SemiBold";
  --desktop-body-medium: Poppins;

  /* font sizes */
  --desktop-body-medium-semibold-size: 14px;

  /* Colors */
  --system-white: #fff;
  --system-bg: #f9f9fb;
  --system-light-grey: #f0f0f1;
  --system-grey: #9291a5;
  --contrast-bitter-sweet: #f9564f;

  /* Gaps */
  --gap-xs: 12px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-xs: 12px;
  --padding-7xs: 6px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-12xs: 1px;
}
